# Carpeta de compilacion de benchmarks
build_benchmark/

# Ejecutables compilados
*.exe
*.out

# Archivos temporales
*.o
*.obj

# Configuracion de VSCode
.vscode/

# Cache de Python
__pycache__/
*.pyc